/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Larger desktops
$screen-xxl-min: 1500px;

// Even larger desktops
$screen-xxxl-min: 1800px;

// Colors
$white: #ffffff;

$dusk: #423E3C;
$dusk-dark: #272524;
$dusk-light: #B3B2B1;

$navy: #18186B;
$navy-dark: #0E0E40;
$navy-light: #A3A3C4;

$deep: #A92FAC;
$deep-dark: #831491;
$deep-light: #CF89D1;

$cool: #7297FF;
$cool-dark: #445B99;
$cool-light: #C7D5FF;

$hot: #E5518D;
$hot-dark: #893155;
$hot-light: #F5B9D1;

$accent: #FBB938;
$accent-dark: #976F22;
$accent-light: #FDE3AF;

$light: #F0ECD9;
