/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

body{
  font-family: mr-eaves-xl-modern, sans-serif;
}

a{
  text-decoration: none;
}

.absolute{
  position: absolute;
}
