#adopt-form{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
    transition: 0.5s;
    // background-color: rgba(0,0,0,0.25);
    >div{
        width: 80%;
        height: 80%;
        max-width: 1200px;
        max-height: 800px;
        >div{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            position: relative;

            @include lg{
                grid-template-columns: 3fr 2fr;
                grid-auto-rows: 100%;
            }

            #adopt-form-exit{
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 501;
                cursor: pointer;


                >h3{
                    font-size: rem-calc(30px);
                    color: $white;
                    transition: 0.25;

                    @include lg{
                        color: $navy
                    }

                    &:hover, &:active{
                        transform: scale(1.3);
                        color: $hot !important;

                        @include lg{
                            color: $hot !important;

                        }
                    }
                }


            }



            #adopt-form-video{
                grid-row: 1 / 2;
                height: 100%;
                width: 100%;
                border-radius: 20px 20px 0 0;

                @include lg{
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    border-radius: 20px 0 0 20px;
                }
            }

            #adopt-form-content{
                grid-row: 2 / 3;
                height: 100%;
                width: 100%;
                background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.25);
                border-radius: 0 0 20px 20px;
                padding-top: 20px;
                position: relative;

                @include lg{
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                    padding-top: 0;
                    border-radius: 0 20px 20px 0;

                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -10%;
                    background-image: url("../img/benefits/hero/benefits-hero-bg.png");
                    height: 18%;
                    width: 100%;
                    z-index: 2;
                    background-size: auto 100%;
                    background-position: center;
                    -webkit-animation: slide 30s infinite;
                    animation: slide 30s infinite;

                    @include md{
                        -webkit-animation: slide 25s infinite;
                        animation: slide 25s infinite;
                    }

                    @include lg{
                        -webkit-animation: slide 20s infinite linear;
                        animation: slide 20s infinite linear;
                    }
                    @include md {
                        height: 10%;
                        width: 100%;
                        top: -8%;
                    }
                    @include lg {
                        height: 13%;
                        width: 80vh;
                        max-width: 801px;
                        transform: rotate(-90deg);
                        transform-origin: left bottom;
                        left: 1%;
                        top: auto;
                        bottom:-1px;

                    }
                }


                >form{
                    display: grid;
                    width: 80%;

                    @include lg{
                        padding-right: 50px;
                    }
                    // grid-template-columns: 1fr 10px 1fr;


                    input{
                        padding: 8px 0px 8px 5px;
                        margin-bottom: 10px;
                        border: none;
                        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
                        border-radius: 10px;
                        width: 100%;
                        transition: 0.25s;

                        &:focus, &:hover{
                            outline: none;
                            transform: scale(1.1);
                            color: $hot;

                            &::-webkit-input-placeholder{
                                color: $hot;
                            }

                            &::-moz-placeholder{
                                color: $hot;
                            }

                            &:-ms-input-placeholder{
                                color: $hot;
                            }

                            &::-ms-input-placeholder{
                                color: $hot;
                            }

                            &::placeholder{
                                color: $hot;
                            }
                        }


                    }

                    .adopt-form-content-name{
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 30px 1fr;

                        input{
                            width: 100%;
                        }

                        .adopt-form-content-1{
                            grid-column: 1 / 2;
                        }

                        .adopt-form-content-2{
                            grid-column: 3 / 4;
                        }
                    }

                    .adopt-form-content-button{
                        width: 100%;
                        >button{
                            width: 100%;
                        }
                    }



                }
            }
        }
    }
}

.adopt-form-activate{
    transform: none !important;

}
