#adopt-hero{

    @include section-padding;
    display: grid;
    grid-template-areas:
            "hero-content"
            "hero-img";
    grid-template-rows: auto 500px;
    @include md{
        grid-gap: 24px;
        grid-template-areas:
                "hero-content hero-img";
        grid-template-columns: 40% 60%;
        grid-template-rows: 600px;
    }
    @include lg{
        background-image: url('../img/adopt/line.svg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        grid-template-areas:
                ". hero-content hero-img .";
        grid-template-columns: auto 320px 600px auto;
    }
    div:nth-child(1){
        grid-area: hero-content;
        @include md{
            align-items: center;
            display: flex;
            justify-content: center;
        }
        h2{
            @include md{
            }
            span{
                color: $accent;
            }
        }
    }
    div:nth-child(2){
        background-image: url('../img/adopt/hero.svg');
        background-repeat: no-repeat;
        background-size: fit;
        grid-area: hero-img;
        @include lg{
            background-size: cover;
        }
    }
}
