#expect{
    @include section-padding;
    display: grid;
    grid-template-areas:
            "expect-img"
            "expect-h2"
            "expect-content";
    grid-template-columns: 100%;
    grid-template-rows: auto;

    @include md{
        grid-template-areas:
                "expect-h2 ."
                "expect-content expect-img";
        grid-template-columns: 40% 60%;
    }

    @include lg{
        grid-template-areas:
                ". expect-img expect-content ."
                ". expect-h2 expect-content .";
        grid-template-columns: auto 400px 400px auto;
        grid-gap: 0px 80px;
    }

    div:nth-child(1){
        // images
        grid-area: expect-img;
        background-image: url('../img/adopt/heart-line.svg');
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        @include lg{
            background-position: -120px -290px;
            background-size: 130%;
        }
        aside{
            position: relative;
            background-image: url('../img/adopt/pig1.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 320px;
            background-position: right center;
            @include md{
                height: 480px;
                background-position: bottom right;
            }
        }
    }
    div:nth-child(2){
        // heading
        grid-area: expect-h2;
        h2{
            @include lg{
                position: relative;
                top: -90px;
            }
            span{
                color: $accent;
            }
        }
    }
    div:nth-child(3){
        // content
        grid-area: expect-content;
        li{
            @include li-padding;
            padding-left: 16px;
            h3{
                color: $navy;
            }
        }
        li:nth-child(-n+4){
            border-left: 8px solid $light;
        }
    }
}
