#adopt-oinking{
    background-image: url('../img/adopt/bkg1.svg');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    @include section-padding;
    display: grid;
    grid-template-areas:
            "oink-head"
            "oink-bullets"
            "oink-cta"
            "oink-img";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    @include md{
        grid-gap: 24px;
    }
    @include lg{
        grid-template-areas:
                ". oink-bullets oink-head ."
                ". oink-bullets oink-cta ."
                ". oink-bullets oink-img .";
        grid-template-columns: auto 300px 500px auto;
        grid-gap: 80px;
    }


    div:nth-child(1){
        grid-area: oink-head;
        h2{
            span{
                color: $deep;
            }
        }
    }
    div:nth-child(2){
        margin: 0 auto;
        grid-area: oink-cta;
        button{

        }
    }
    div:nth-child(3){
        // two pigs halftone
        grid-area: oink-img;
        padding: 0px;
        background-image: url('../img/adopt/pig3.png');
        background-size: contain;
        height: 240px;
        background-position: center;
        background-repeat: no-repeat;
    }
    div:nth-child(4){
        grid-area: oink-bullets;

        ul{
            @include md{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                        "oink1 oink2 oink3";
                grid-gap: 24px;
            }
            @include lg{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                        "oink1" "oink2" "oink3";
            }
            li{
                h2{
                    color: $navy;
                    padding-bottom: 16px;
                }
                background-repeat: no-repeat;
                background-size: fit;
                padding: 40px 0px 40px 40px;
            }
            li:nth-child(1){
                grid-area: oink1;
                background-image: url('../img/adopt/size.svg');
            }
            li:nth-child(2){
                grid-area: oink2;
                background-image: url('../img/adopt/vaccines.svg');
            }
            li:nth-child(3){
                grid-area: oink3;
                background-image: url('../img/adopt/cost.svg');
            }
        }

    }
}
