#adopt-oinking{
    @include section-padding;
    display: grid;
    grid-template-areas:
            "oink-head"
            "oink-bullets"
            " oink-cta";
    grid-template-columns: 100%;
    grid-template-rows: auto;


    div:nth-child(1){
        grid-area: oink-head;
        h2{
            span{
                color: $deep;
            }
        }
    }
    div:nth-child(2){
        margin: 0 auto;
        grid-area: oink-cta;
        button{

        }
        aside{
            background-image: url('../img/adopt/pig3.png');
            background-size: cover;
            height: 240px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    div:nth-child(3){
        grid-area: oink-bullets;
        ul{
            li{
                background-repeat: no-repeat;
                background-size: fit;
                padding: 40px 0px 40px 40px;
            }
            li:nth-child(1){
                background-image: url('../img/adopt/size.svg');
            }
            li:nth-child(2){
                background-image: url('../img/adopt/vaccines.svg');
            }
            li:nth-child(3){
                background-image: url('../img/adopt/cost.svg');
            }
        }

    }
}
