// #home-adoption{
//
//     background-image: url('../img/home/pig-footer.jpg');
//     background-position: bottom center;
//     background-repeat: no-repeat;
//     height: 100vh;
//     background-size: cover;
//     @include lg{
//         height: 600px;
//         background-position: center center;
//     }
//     display: flex;
//     align-items: center;
//
//
//     article{
//         padding: 80px 80px;
//         @include lg{
//             width: 50%;
//         }
//
//         h1{
//             color: $white;
//         }
//     }
// }

#home-adoption{
    width: 100%;
    >div{
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url('../img/benefits/adopt/benefits-adopt-main.png');
        display: flex;
        justify-content: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -1%;
            background-image: url("../img/benefits/hero/benefits-hero-bg.png");
            height: 18%;
            width: 100%;
            z-index: 2;
            background-size: auto 100%;
            background-position: center;
            transform: scaleY(-1);
            -webkit-animation: slide 10s infinite alternate;
            animation: slide 10s infinite alternate;

            @include md{
                -webkit-animation: slide 6s infinite alternate;
                animation: slide 6s infinite alternate;
            }

            @include lg{
                -webkit-animation: slide 4s infinite alternate;
                animation: slide 4s infinite alternate;
            }
            @include md {
                height: 10%;
                width: 101%;
                left: -1%;
            }
            @include lg {
                left: -1%;
                height: 13%;
            }
        }



        >article{
            position: absolute;
            top: 70%;
            // padding-top: 40%;
            max-width: 250px;

            @include md{
                max-width: 330px;
                top: 40%;
                left: 15%;
            }

            @include lg{
                top: 30%;
            }

            h2{
                color: white;
                padding-bottom: 15px;
                @include md{
                    font-size: rem-calc(80px);
                    line-height: rem-calc(80px);
                }
            }
        }
    }

}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120% 0;
    }
}
@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120% 0;
    }
}
