#home-adoption{

    background-image: url('../img/home/pig-footer.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    @include lg{
        height: 600px;
        background-position: center center;
    }
    display: flex;
    align-items: center;


    article{
        padding: 80px 80px;
        @include lg{
            width: 50%;
        }

        h1{
            color: $white;
        }
    }
}
