#home-emotion{
    @include lg{
        display: grid;
        grid-template-areas:
                ". home-emotion-grid .";
        grid-template-columns: auto 1200px auto;
    }
    div{
        grid-area: home-emotion-grid;
        display: grid;
        grid-template-areas:
                "home-emotion-img home-emotion-text";
        grid-template-columns: 50% 50%;

        #home-emotion-text{
            grid-area: home-emotion-text;
            @include section-padding;
            padding-bottom: 0px;
            h2{
                span{
                    color: $hot;
                }
            }
            @include lg{
                padding-left: 0px;
            }
        }
        #home-emotion-img{
            grid-area: home-emotion-img;
            background-image: url('../img/home/heart-group.svg');
            background-position: center;
            height: 400px;
            background-repeat: no-repeat;
            background-size: contain;
            @include lg{
                background-position: center center;
                height: 600px;

            }
        }
    }

    }
