/* =============
    Buttons
============= */
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 50px;
    color: $navy;
    border: 5px solid $navy;
    background-color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-family: mr-eaves-xl-modern, sans-serif;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
    margin: 32px 0;
}

button:hover,
button:focus {
    background: $navy;
    color: $white;
    border: 5px solid $navy;
}
